<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="person.liufan.service.mapper.PositionMapper">
  <resultMap id="BaseResultMap" type="person.liufan.service.entity.Position">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_position" jdbcType="VARCHAR" property="userPosition" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_position
  </sql>
  <select id="listPosition" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_position
  </select>
  <select id="selectByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_position
    where user_position = #{userPosition}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_position
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_position
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="person.liufan.service.entity.Position">
    insert into tb_position (id, user_position)
    values (#{id,jdbcType=BIGINT}, #{userPosition,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="person.liufan.service.entity.Position">
    insert into tb_position
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userPosition != null">
        user_position,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userPosition != null">
        #{userPosition,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="person.liufan.service.entity.Position">
    update tb_position
    <set>
      <if test="userPosition != null">
        user_position = #{userPosition,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="person.liufan.service.entity.Position">
    update tb_position
    set user_position = #{userPosition,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <delete id="deleteByIds" parameterType="java.lang.String" >
    delete from tb_position
    where id IN
    <foreach collection="array" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </delete>
</mapper>